@model Doctrine.HtmlPage
<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Styles/styles.css")" />
    @Html.Raw(Model.Head)
</head>
<body>
    <header>
        <h1>doctrine: super simple documentation</h1>
    </header>
    <nav>
        @Html.Partial("Contents")
    </nav>
    <article>
        @Html.Raw(Model.Body)
    </article>
</body>
</html>