@model Doctrine.HtmlPage
<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="~/css/styles.css" />
    <base href="/pages/" />
    <link href="~/js/styles/obsidian.css" rel="stylesheet" />
    <script src="~/js/highlight.pack.js"></script>
    @Html.Raw(Model.Head)
</head>
<body>
    <header>
        <h1>doctrine: super simple documentation</h1>
    </header>

    <nav>
        @Html.Partial("Contents")
    </nav>
    <article>
        @Html.Raw(Model.Body)
    </article>  
    <footer>
        <a href="/@Model.SourceUrl">source HTML</a>
    </footer>
    <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>